name: Check Build

on:
  push:
    branches-ignore:
      - main
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Set up pnpm
        uses: pnpm/action-setup@v4
        with:
          run_install: false
          version: 10.23.0

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version-file: './package.json'
          cache: 'pnpm'
          cache-dependency-path: pnpm-lock.yaml

      - name: Install dependencies
        run: pnpm install

      - name: Run build
        run: pnpm build

  build-storybook:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Set up pnpm
        uses: pnpm/action-setup@v4
        with:
          run_install: false
          version: 10.23.0

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version-file: './package.json'
          cache: 'pnpm'
          cache-dependency-path: pnpm-lock.yaml

      - name: Install dependencies
        run: pnpm install

      - name: Run build-storybook
        run: pnpm build-storybook
