name: Lint

on:
  push:
    branches:
      - '**'
    tags-ignore:
      - 'shadcn-v*'
  pull_request:
    branches:
      - '**'

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Set up pnpm
        uses: pnpm/action-setup@v4
        with:
          run_install: false
          version: 10.23.0

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version-file: './package.json'
          cache: 'pnpm'
          cache-dependency-path: pnpm-lock.yaml

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Run lint
        run: pnpm lint
